body {
	font-family: 'Bubbler One', sans-serif;
}

.header {
	background-color: black;
	color: white;
	font-size: 72px;
	padding: 5px 20px;
}

.accounts-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.account {
	border: solid 2px black;
	border-radius: 20px;
	box-sizing: border-box;
	margin: 20px 10px;
	padding: 15px;
	text-align: center;
	width: 225px;

	&__name {
		align-items: center;
		background-color: black;
		border-radius: 10px 10px 0 0;
		color: white;
		display: flex;
		font-size: 36px;
		justify-content: center;
		margin-bottom: 10px;
		padding: 10px 0;
	}

	&__current-amount {
		border-bottom: solid 2px black;
		font-size: 30px;
		padding: 10px 0;
	}

	&__suggested-amount {
		padding: 10px 0;
	}

	&__notes {
		border-bottom: solid 2px black;
		padding-bottom: 10px;
	}

	&__withdrawals, &__deposits {
	    background-color: #f09;
	    box-sizing: border-box;
	    padding: 10px 20px;

	    form {
	        margin: 0;
	        width: 100%;

	        button {
	            margin-top: 5px;
	        }
	    }
	}

	&__deposits {
	  background-color: #0fa;
	}

	&__log {
		padding-top: 10px;
	}
}

.enough-funds {
	display: none;
}

.insufficient-funds {
    color: red;
	display: block;
}

.account-info {
	&__name {
		font-size: 36px;
		text-align: center;
	}
	&__section {

	        &--title {
	            background-color: black;
	            color: white;
	            font-size: 30px;
	            font-weight: bold;
	        }

	        &--columns {
	        	box-sizing: border-box;
	            display: flex;
	            font-size: 24px;
	            padding: 0 20px;

	            div {
	                text-decoration: underline;
	                width: 33%;
	            }
	        }

	        &--list {
	            box-sizing: border-box;
	            padding: 0 20px;
	        }
	}
	&__item {
	    display: flex;
		font-size: 24px;

		div {
		    width: 33%;
		}
	}
	&__delete {
	    display: flex;
	    justify-content: flex-end;
	}
}

.create-account {
	border: solid 2px black;
	border-radius: 20px;
	box-sizing: border-box;
	margin: 20px 10px;
	padding: 15px;
	text-align: center;
	width: 225px;
}





