<!DOCTYPE html>
<html>
<head>
	<title>Cache MERN app</title>
	<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>
<body>