body {
  font-family: 'Bubbler One', sans-serif; }

.header {
  background-color: black;
  color: white;
  font-size: 72px;
  padding: 5px 20px; }

.accounts-wrapper {
  display: flex; }

.account {
  border: solid 2px black;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  width: 225px; }
  .account__name {
    align-items: center;
    background-color: black;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    font-size: 36px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 0; }
  .account__current-amount {
    border-bottom: solid 2px black;
    font-size: 30px;
    padding: 10px 0; }
  .account__suggested-amount {
    padding: 10px 0; }
  .account__notes {
    border-bottom: solid 2px black;
    padding-bottom: 10px; }
  .account__log {
    padding-top: 10px; }

.account-info__name {
  font-size: 36px;
  text-align: center; }
